<% include partial_hdp %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Les dépots </h3>
                </div>






                      <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
            <div class="col-lg-16">
             <div class="panel panel-green">
                <div class="panel-heading">
                            <h4> Le Dépôt départemental</h4>
                </div>
             </div>
                <% general.forEach(function(data) { %>

                <div class="col-lg-6 col-md-6">
                    <div class="panel <%= data.couleur%>">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-map-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= data.stockdep %></div>
                                    <div><%= data.nom %> ( <%= data.libelle %>)</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div> <% }); %>
            </div>
        </div> <!-- row -->
        <% var tdep = Object.keys(depot).sort() %>
        <% for(var i=0; i< tdep.length; i++) {%>
        <div class="row">
            <div class="col-lg-16">
             <div class="panel panel-success">
                <div class="panel-heading">
                            <h4> <%= tdep[i] %> </h4>
                </div>
             </div>
            </div>
              <% liste = depot[tdep[i]]  %>
              <% liste.forEach(function(data) { %>
              <% var nomp = produit[data.id_produit].nom %>
              <% var couleurp = produit[data.id_produit].couleur %>
              <% var famille = produit[data.id_produit].libelle %>
              <% var nb =  data.sum %>

                <div class="col-lg-6 col-md-6">
                    <div class="panel <%= couleurp%>">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-map-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%=  nb %></div>
                                    <div><%= nomp %> ( <%= famille %>)</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div> <% }); %>





        </div> <!-- row -->
        <% } %>











        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
