<% include partial_hdp %>
  
        <script type= "application/json" id="mydata">
            <%= comites  %>
            </script>
<div id="page-wrapper">

        <div id="app">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Produit à ventiler </h3>
                </div>
                      <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
               <div class="col-lg-16">
                <div class="panel panel-green">

                   <div class="panel-heading" >
                       <h4>Depot secondaire:<span class="text-danger"> <%= depot %> </span>  pour le produit:<span class="text-danger"> <%= produit%></span><p class="text-right"> Total:  {{somme}}  / <%= quantite %></p> </h4>
                   </div>
                </div>
               </div>
           <!-- /#row -->
            </div>
           <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            Les comites du dépôt
                        </div>
                        <div class="panel-body">
                            <!--  boucle comites -->


                            <div class="row" >
                                <div class="col-lg-6">
                                    Total:{{somme}}
                                    <form role="form"  action="/comites/dotation" METHOD="POST"  v-on:keyup=recalcul()>
                                     <input type="hidden" name="_depot" value="<%= depot%>" />
                                     <input type="hidden" name="_dotation" value="<%= quantite%>" />
                                     <input type="hidden" name="_id_produit" value="<%= id_produit%>" />
                                     <input type="hidden" name="_total" :value=somme />

    <!-- /#wrapper -->
          <div class="table-responsive" >
              <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Comité
                    </th>
                    <th>
                        Quantite
                    </th>
                </tr>
            </thead>

          <tbody >
             <thead is="comite"  :comite="comite"  v-for="comite in comites"></thead>
                       </tbody>

            </table>
            Total:{{somme}}
           </div>
                 <div class="row">
                    <div class="col-lg-3">&nbsp;
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-default">Enregistrer</button>
                    </div>
            </form>

                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>

</div>


</div>
    <!-- jQuery -->
 <% include pied %>
</body>
<script src="/javascripts/vue.js" ></script>
<script src="/javascripts/eglarem94.js" ></script>
</html>
